/* Common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-1: #131313;
    --dark-2: #424242;
    --dark-3: #727272;
    --dark-4: #A1A1A1;
    --dark-5: #D0D0D0;
    --dark-6: #E7E7E7;
    --dark-7: #F3F3F3;
    --white: #fff;

    --clr-bg-primary: #FFF4E7;

    --clr-btn-bg: #FF900E;

    --ff-work: 'Work Sans',
        sans-serif;
}

img {
    max-width: 100%;
}

body {
    font-family: var(--ff-work);
}

button {
    border: none;
    background: none;
    cursor: pointer;
}


/* utility classes */
.section-gap {
    padding-top: 130px;
}

.container {
    display: block;
    max-width: 1440px;
    width: 95%;
    margin-inline: auto;
}

.subtitle {
    color: var(--dark-3);
    font-size: 1rem;
    font-weight: 400;
    margin-block: 24px;
}

.btn-primary {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    color: var(--white);
    background: var(--clr-btn-bg);
    margin-block: 32px;
    border-radius: 8px;
}

.section-title {
    color: var(--dark-1);
    font-size: 45px;
    font-weight: 700;
}

/* ========================================
                header style
============================================*/
.main-header {
    padding-block: 50px;
    background-color: var(--clr-bg-primary);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .brand a {
    text-decoration: none;
    color: var(--dark-1);
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 75px;
}

nav ul li a {
    text-decoration: none;
    color: var(--dark-2);
    font-size: 18px;
    font-weight: 500;
}

/* ===========================================
                Hero area style
==============================================*/
.hero-area {
    padding-top: 70px;
    padding-bottom: 45px;
    background-color: var(--clr-bg-primary);
}

.hero-content {
    text-align: center;
}

h2.hero-title {
    font-size: 64px;
    color: var(--dark-1);
}

.hero-description {
    max-width: 70%;
    display: block;
    margin-inline: auto;
    margin-bottom: 0;
}

/* ===================================
            feature style 
======================================*/
.feature {
    padding-top: 85px;
}

.feature-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 73px;
}

.feature-content>div {
    flex: 1;
}

.feature-img-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-text .feature-title {
    font-size: 45px;
}

.feature-title .title-p1 {
    font-weight: 500;
    color: var(--dark-3);
}

.feature-title .title-p3 {
    color: var(--clr-btn-bg);
}

.feature-title .title-p2,
.feature-title .title-p3 {
    font-weight: 700;
}

/* =====================================
                Enjoy title
========================================*/
.enjoy-content {
    display: flex;
    gap: 54px;
    justify-content: center;
    align-items: center;
}

.enjoy-text {
    flex: 1;
}

.enjoy-img {
    flex: 1.37;
}

.enjoy-top-title {
    display: flex;
    gap: 20px;
}

.enjoy-vl {
    width: 5px;
    height: auto;
    background-color: var(--clr-btn-bg);
}

.enjoy-top-title .enjoy-title {
    font-size: 45px;
    font-weight: 700;
}

.enjoy-features {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.enjoy-feature {
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.enjoy-feature .enjoy-feature-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.enjoy-features-description {
    margin-block: 0;
}

.enjoy-img-content {
    position: relative;
}

.enjoy-img-content img {
    display: block;
    width: 90%;
    margin-left: auto;
}

.enjoy-btn {
    position: absolute;
    transform: translateY(-50%);
    font-size: 65px;
    font-weight: 700;
    margin-block: 0;
    padding: 42px;
}

.enjoy-btn h4 {
    font-size: 25px;
    font-weight: 500;
}

/* ======================================
                facts  style
=========================================*/
.facts {
    margin-top: calc(130px + 50px);
}

.facts-subtitle {
    width: 50%;
}

.facts-cards {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.facts-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    aspect-ratio: 1/1;
    border: 1px solid var(--clr-btn-bg);
    border-radius: 8px;
    transition: all 0.2s linear;
}

.facts-card img {
    margin-bottom: 10px;
}

.facts-card h3 {
    font-size: 45px;
    font-weight: 600;
    color: var(--dark-1);
    margin-bottom: 5px;
    transition: all 0.2s ease-in 0.3s;
}

.facts-card h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-3);
    transition: all 0.2s ease-in 0.3s;
}

.facts-card:hover {
    transform: scale(1.2);
}

.facts-card:hover h3 {
    font-size: 20px;
}

.facts-card:hover h4 {
    font-size: 25px;
}

/* ======================================
                success style
=========================================*/
.success-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.success-content>div {
    flex: 0.98;
}

.success-content>span {
    flex: 0.02;
}

.success-content span {
    width: 5px;
    height: auto;
    background: var(--clr-btn-bg);
}

.success-content .success-title h2 {
    text-align: right;
    font-size: 45px;
    color: var(--dark-1);
}

.success-content .success-texts p {
    color: var(--dark-3);
}

.success-btn {
    background: none;
    color: var(--clr-btn-bg);
}

.success-btn i {
    margin-left: 10px;
}

/* ======================================
            sponsors section
==========================================*/

.sponsors-title,
.sponsors-subtitle {
    text-align: center;
}

.sponsors-brands {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 155px;
    filter: grayscale(100%);
}

/*============================================
                    Footer style
==============================================*/
.footer-content {
    background-color: var(--clr-bg-primary);
    text-align: center;
    padding: 40px;
    margin-bottom: 200px;
}

.footer-content h4 {
    font-size: 20px;
    font-weight: 400;
    color: var(--dark-2);
}